html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

#app {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-primary {
  padding: 1em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(92, 114, 125);
  color: white;
}

.btn-secondary {
  padding: 1em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: #d22b2b;
  color: white;
}

.btn-tertiary {
  padding: 1em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: #ffd500;
  color: white;
}

.btn-fortiary {
  padding: 1em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: green;
  color: white;
}
