html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

#app {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

.none {
  display: none;
}

.btn-primary {
  padding: 1em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(92, 114, 125);
  color: white;
}

.btn-secondary {
  padding: 1em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: #d22b2b;
  color: white;
}

.btn-tertiary {
  padding: 1em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: #ffd500;
  color: white;
}

.btn-fortiary {
  padding: 1em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: green;
  color: white;
}

#loading {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  gap: 0.5em;
  background-color: white;
}

#loading div {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: red;
  animation: fade 0.8s ease-in-out alternate infinite;
}

#loading div:nth-of-type(1) {
  animation-delay: -0.4s;
}

#loading div:nth-of-type(2) {
  animation-delay: -0.2s;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#overlay-profile {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

#overlay-profile article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
}

#overlay-profile article p {
  font-weight: bold;
}

#overlay-profile article p span {
  color: white;
}

#overlay-profile article button {
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: green;
  border: 1px solid green;
  color: white;
  font-size: 0.9em;
  cursor: pointer;
}
