footer {
  width: 100%;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid #555555;
  color: #555555;
  cursor: pointer;
  padding: 1em;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  transform: translateY(-50%);
}

footer .top i {
  font-size: 1.5em;
}

.footer--container {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
}

.footer--container article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
}

.footer--container article img {
  width: 170px;
  height: 120px;
  object-fit: contain;
}

.footer--container article p {
  color: #555555;
  font-size: 0.8em;
  text-align: left;
}

.footer--links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 4em 0;
}

.footer--links a i {
  font-size: 1.5em;
  color: gray;
}
