<footer>
  <a class="top" href="#app">
    <i class="fa-solid fa-chevron-up"></i>
    <p>Top</p>
  </a>
  <section id="footer--container">
    <!-- Footer items will be appended here -->
  </section>
  <section class="footer--links">
    <a id="telegram" target="_blank">
      <i class="fa-brands fa-telegram"></i>
    </a>
    <a id="twitter" target="_blank">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a id="facebook" target="_blank">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a id="instagram" target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a>
  </section>
</footer>

<script>
  const footerContainer = document.getElementById("footer--container");

  async function loadFooter() {
    try {
      const response = await fetch("/api/routes/footer/get-footer.php");
      const resData = await response.json();

      if (resData.success) {
        resData.data.forEach((item) => {
          const a = document.createElement("a");
          a.innerHTML = `
            <img src="${item.image_path}" alt="Placeholder" />
            <p>${item.description}</p>
            `;
          a.href = item.link;
          a.target = "_blank";
          a.rel = "noopener";
          footerContainer.appendChild(a);
        });
      }
    } catch (error) {
      console.error(error);
    }
  }

  async function loadSocials() {
      const res = await fetch('/api/routes/footer/get-socials.php')

      const data = await res.json();

      if(data.success) {
        for(const links of data.data) {
          const { name, link } = links

          if(name === "telegram"){
            telegram.href = link;
         
          }
          else if(name === 'twitter') {
            twitter.href = link
      
          } 

          else if(name === 'facebook') {
            facebook.href = link

          }

          else if(name === 'instagram') {
            instagram.href = link

          } else {
            console.log('undefined elemet.')
          }
        }
      } else {
        alert(data.message)
      }

    }

  
  loadSocials()
  loadFooter();
</script>

<style>
  footer {
    width: 100%;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  footer .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid #555555;
    color: #555555;
    cursor: pointer;
    padding: 1em;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    transform: translateY(-50%);
  }

  footer .top i {
    font-size: 1.5em;
  }

  #footer--container {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  #footer--container a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
  }

  #footer--container a img {
    width: 170px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 0.7em;
  }

  #footer--container a p {
    color: #555555;
    font-size: 0.9em;
    line-height: 1.3em;
    text-align: left;
  }

  .footer--links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 4em 0;
  }

  .footer--links a i {
    font-size: 1.5em;
    color: gray;
  }
</style>
