<nav id="main-nav">
  <section>
    <a href="/" data-link class="nav--logo"> Company Logo </a>
    <div class="item-section">
      <a href="/leaks" data-link>Leaks</a>
      <a href="/news" data-link>News</a>
      <a href="/about" data-link>About</a>
      <a href="/partners" data-link>Partners</a>
    </div>
    <div class="button-section">
      <a class="button primary" href="/login" data-link>Login</a>
      <a class="button secondary" href="/donate" data-link>Donate</a>
    </div>
  </section>
</nav>
